@import '@/styles/breakpoints.styl'

.main-layout
  border-left 1px solid var(--neutral-02)
  flex 0 0 76%
  // account for header height
  padding-top 96px
  width 76%
  &.has-footer
    padding-bottom 96px
  @media (max-width: $small-desktop-breakpoint)
    flex 0 0 100%
    // needed to account for IOS mobile navigation bars
    height 100%
    transform translateX(-100%)
    transition transform 350ms cubic-bezier(0.67, 0, 0.37, 0.99)
    width 100%
    &.show-menu
      transform translateX(0)
.content-container
  background-color var(--neutral-02)
  height 100%
  overflow auto
  padding 40px
  @media screen and (max-width: $mobile-breakpoint)
    padding 24px 16px 16px
  h1
    margin-bottom 24px
