#sms-builder
  #opening-message
    color var(--neutral-04)
    font-size 13px
    font-weight 600
    margin 0
  .section-heading
    color var(--neutral-05)
    font-size 14px
    font-weight 600
    padding 32px 0 16px
  .details
    color var(--neutral-04)
    font-size 12px
    font-weight 500
    margin-bottom 16px
  .example
    margin-bottom 0
    font-weight 700
  textarea
    background-color var(--neutral-02)
    border 2px solid var(--neutral-04-25)
    border-radius 12px
    padding 8px 16px
    width 100%