#sign-up
  .btn.primary
    margin-top .85rem
    img
      margin-right 5px
  .heading-2
    margin-bottom 32px
  .captcha-copy
    margin-top 32px
  .label-tip
    align-items center
    display flex
    gap 5px
  .label-tip, .signup-label
    margin-bottom 14px
  input, button
    display block
    width 100%
  .input-icon
    margin-bottom 32px
    position relative
    img
      left 14px
      position absolute
      top 50%
      transform translateY(-50%)
    .checkmark
      left auto
      right 14px
  .input-icon:last-of-type
    margin-bottom 16px
  input[type='email'],
  input[type='password']
    padding-left 50px
  .password
    color var(--neutral-04-75)
