.file-upload
  display flex
  flex-direction column
  row-gap 1rem
  label, p
    margin-bottom 0
  button
    width 100%
  .uploaded-file
    width 100%  
    padding 1.14rem
    background var(--neutral-02)
    border-radius var(--border-radius)
    .caption-2-medium
      color var(--neutral-04)
    .base-1-semibold
      color var(--neutral-07)
  .actions
    display flex
    gap 1rem
    .btn
      width auto
