#emoji-close-div
  display none
.quill
  border 2px solid var(--neutral-04-25)
  border-radius 12px
  .ql-toolbar,
  .ql-container
    border none
  .ql-toolbar
    padding 16px
    button
      margin-right 26px
  .ql-container
    background-color var(--neutral-02)
    padding 16px
    border-bottom-left-radius 12px
    border-bottom-right-radius 12px
    .ql-editor
      font-family 'Inter'
      padding 0
      min-height 120px
      max-height 320px
      overflow-y auto
      &::before
        color var(--neutral-04)
      &::before,
      p
        font-size 14px
        font-style normal
        font-weight 600
