#brand-details
  .caption-1
    color var(--neutral-04-75)
    margin-bottom 2rem
  .label-tip
    align-items center
    display flex
    gap 5px
  label
    color var(--neutral-05)
  input, select, button
    display block
    width 100%
    margin 1rem 0 2.25rem
  button
    margin-top 2.25rem
