#details
  padding 24px
  .section-header
    margin-bottom 32px
  img
    border-radius 12px
    margin-bottom 16px
    width 100%
    aspect-ratio 1/1
    object-fit cover
  h3
    margin 0
  p
    color var(--neutral-04)
    span
      color var(--neutral-07)
