.generic-modal
  display none
  position absolute
  top 0
  left 0
  width 100vw
  height 100vh
  z-index 9999
  &.open
    display flex
    justify-content center
    align-items center
    background var(--neutral-02-80)

