#branding.section
  display flex
  flex-direction column
  row-gap 2.28rem
  .section-header
    margin-bottom 0
.jsoneditor
  border-color #d3d3d3
  margin 1rem auto
  border-radius var(--border-radius)
  overflow hidden
  height 20rem
  .jsoneditor-menu
    background-color #d5d5d5
    border-bottom-color #bebebe
    button
      opacity 1
  .jsoneditor-poweredBy
    display none
