#campaign-links
  .builder-description
    margin 0
  .campaign-link
    cursor pointer
    background var(--neutral-02)
    padding 1.14rem
    border-radius var(--border-radius)
    margin-bottom 1.14rem
    .url
      color var(--neutral-04)
      margin-bottom 0
    .name
      color var(--neutral-07)
      margin-bottom 0
  .builder-button, .links
    margin-top 2.28rem
  .error
    color var(--primary-03)
    padding-top 8px
    text-transform capitalize
  .actions
    align-items center
    display flex
    justify-content flex-end
