@import '@/styles/breakpoints.styl'

#heading
  align-items center
  display flex
  justify-content space-between
  margin-bottom 24px
  @media (max-width: $mobile-breakpoint)
    align-items flex-start
    flex-direction column
    gap 16px
    .btn
      width 100%
  h1
    margin 0