@import '@/styles/breakpoints.styl'

#sms-footer
  justify-content space-between
  @media (min-width: $small-desktop-breakpoint)
    padding-left calc(24vw + 44px)
#action-buttons
  display flex
  gap 8px