.custom-tooltip
  position relative
  &:hover
    .tooltip-message
      opacity 1
      transform translateY(-50%)
  .tooltip-message
    background-color var(--neutral-06)
    border-radius 4px
    color var(--neutral-02)
    left 24px
    margin 0
    opacity 0
    padding 4px 8px
    pointer-events none
    position absolute
    top 50%
    transform translateY(-35%)
    transition all 100ms ease-in-out
    white-space nowrap
    z-index 1
    &.open
      opacity 1
      transform translateY(-50%)