#reward
  display flex
  flex-direction column
  row-gap 2.43rem
  .section-header
    margin-bottom 0
  input[type="text"]
    width 100%
  .builder-label
    display flex
    .optional
      margin-left auto
      color var(--neutral-04)
  .sub-layout
    display flex
    flex-direction column
    row-gap 2.43rem
  .sub-section
    display flex
    flex-direction column
    row-gap 1rem
    label, p
      margin-bottom 0
  .rarity-label-wrapper
    align-items center
    display flex
    justify-content space-between
    .optional
      color var(--neutral-04-75)
