#unlockables
  .unlockable-switch
    margin-bottom 32px
  .no-campaigns
    color var(--neutral-04)
    margin-bottom 24px
  #unlockable-cards
    display flex
    flex-direction column
    gap 32px
    margin-bottom 32px
  .unlockable-card
    align-items center
    display flex
    gap 12px
    img
      border-radius 8px
      height 64px
      object-fit cover
      width 64px
    p
      font-size 15px
      font-weight 700
      margin 0