.section-header
  align-items center
  display flex
  gap 1.142rem
  .section-color
    border-radius 4px
    height 32px
    width 16px
  .section-color.blue
    background-color var(--secondary-03)
  .section-color.green
    background-color var(--secondary-04)
  .section-color.purple
    background-color var(--secondary-02)
  .section-color.yellow
    background-color var(--secondary-05)
  .section-title
    margin 0
  .section-badge
    color var(--neutral-04)
    padding: 4px 8px;
    background: var(--neutral-02);
    border-radius: 4px;
